Meta/Facebook has developed a new programing language called Hack.To measure the popularity of Hack they ran a survey with their employees. The survey included data on previous programing familiarity as well as the number of years of experience, age, gender and most importantly satisfaction with Hack. Due to an error location data was not collected, but your supervisor demands a report showing average popularity of Hack by office location. Luckily the user IDs of employees completing the surveys were stored.

Based on the above, find the average popularity of the Hack per office location. Output the location along with the average popularity.

https://platform.stratascratch.com/coding/10061-popularity-of-hack?code_type=1

In [1]:
import pandas as pd

In [2]:
facebook_employees = pd.read_csv('data/facebook_employees.csv')
facebook_employees.head()

   id location  age gender  is_senior
0   0      USA   24      M      False
1   1      USA   31      F       True
2   2      USA   29      F      False
3   3      USA   33      M      False
4   4      USA   36      F       True

In [3]:
facebook_hack_survey = pd.read_csv('data/facebook_hack_survey.csv')
facebook_hack_survey.head()

   employee_id  age gender  popularity
0            0   24      M           6
1            1   31      F           4
2            2   29      F           0
3            3   33      M           7
4            4   36      F           6

In [4]:
merged = pd.merge(facebook_employees, facebook_hack_survey, how = 'left', left_on = 'id', right_on = 'employee_id')
merged = merged[['location', 'popularity']]
merged.head()

  location  popularity
0      USA           6
1      USA           4
2      USA           0
3      USA           7
4      USA           6

In [5]:
result = merged.groupby('location').mean('popularity').reset_index()
result

      location  popularity
0        India    7.500000
1  Switzerland    1.000000
2           UK    4.333333
3          USA    4.600000