Find the price of the cheapest property for every city.

https://platform.stratascratch.com/coding/9625-cheapest-properties?code_type=2

In [1]:
import pandas as pd
import numpy as np

In [2]:
# import data
airbnb_search_details = pd.read_csv('data/airbnb_search_details.csv')
airbnb_search_details.head()

,id,price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,host_identity_verified,host_response_rate,host_since,neighbourhood,number_of_reviews,review_scores_rating,zipcode,bedrooms,beds
0,12513361,555.68,Apartment,Entire home/apt,"{TV,""Wireless Internet"",""Air conditioning"",""Sm...",2,1,Real Bed,flexible,False,NYC,t,89%,11/18/2015 0:00,East Harlem,3,87.0,10029,0,1
1,7196412,366.36,Cabin,Private room,"{""Wireless Internet"",Kitchen,Washer,Dryer,""Smo...",2,3,Real Bed,moderate,False,LA,f,100%,9/10/2016 0:00,Valley Glen,14,91.0,91606,1,1
2,16333776,482.83,House,Private room,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",2,1,Real Bed,strict,True,SF,t,100%,12/26/2013 0:00,Richmond District,117,96.0,94118,1,1
3,1786412,448.86,Apartment,Private room,"{""Wireless Internet"",""Air conditioning"",Kitche...",2,1,Real Bed,strict,True,NYC,t,93%,5/11/2010 0:00,Williamsburg,8,86.0,11211,1,1
4,14575777,506.89,Villa,Private room,"{TV,Internet,""Wireless Internet"",""Air conditio...",6,2,Real Bed,strict,True,LA,t,70%,10/22/2015 0:00,NaN,2,100.0,90703,3,3

In [3]:
# group by city and find cheapest price
cheapest_property = airbnb_search_details.groupby(['city'])['price'].min().reset_index()[['city', 'price']]
cheapest_property

      city   price
0   Boston  385.01
1  Chicago  487.52
2       DC  417.44
3       LA  270.81
4      NYC  340.12
5       SF  424.85

In [4]:
# create new dataframe and display result
result = cheapest_property.rename(columns = {'price': 'min_price'})
result

      city  min_price
0   Boston     385.01
1  Chicago     487.52
2       DC     417.44
3       LA     270.81
4      NYC     340.12
5       SF     424.85