Find the average score for grades A, B, and C. Output the results along with the corresponding grade (ex: 'A', avg(score)).

https://platform.stratascratch.com/coding/9693-find-the-average-score-for-grades-a-b-and-c?code_type=1

In [1]:
import pandas as pd
import numpy as np

In [2]:
los_angeles_restaurant_health_inspections = pd.read_csv('data/la_health_inspections.csv')
los_angeles_restaurant_health_inspections.head()

,serial_number,activity_date,facility_name,score,grade,service_code,service_description,employee_id,facility_address,facility_city,facility_id,facility_state,facility_zip,owner_id,owner_name,pe_description,program_element_pe,program_name,program_status,record_id
0,DAQHRSETQ,6/8/2017 0:00,MARGARITAS CAFE,93,A,1,ROUTINE INSPECTION,EE0000006,5026 S CRENSHAW BLVD,LOS ANGELES,FA0023656,CA,90043,OW0004133,"BAZAN, ASCENCION",RESTAURANT (61-150) SEATS HIGH RISK,1638,MARGARITAS CAFE,ACTIVE,PR0011718
1,DA2GQRJOS,3/7/2017 0:00,LAS MOLENDERAS,97,A,1,ROUTINE INSPECTION,EE0000997,2635 WHITTIER BLVD,LOS ANGELES,FA0160416,CA,90023,OW0125379,MARISOL FEREGRINO,RESTAURANT (0-30) SEATS HIGH RISK,1632,LAS MOLENDERAS,INACTIVE,PR0148504
2,DAMQTA46T,3/22/2016 0:00,SANDRA'S TAMALES,93,A,1,ROUTINE INSPECTION,EE0001049,5390 WHITTIER BLVD,LOS ANGELES,FA0171769,CA,90022-4032,OW0178828,SANDRA'S TAMALES INC.,RESTAURANT (0-30) SEATS MODERATE RISK,1631,SANDRA'S TAMALES,ACTIVE,PR0164225
3,DAXMBTIRZ,2/12/2018 0:00,CAFE GRATITUDE,97,A,1,ROUTINE INSPECTION,EE0000828,639 N LARCHMONT BLVD STE #102,LOS ANGELES,FA0058921,CA,90004,OW0005704,CAFE GRATITUDE LARCHMONT LLC,RESTAURANT (61-150) SEATS HIGH RISK,1638,CAFE GRATITUDE,ACTIVE,PR0019854
4,DAK8TBMS0,9/10/2015 0:00,THE WAFFLE,90,A,1,ROUTINE INSPECTION,EE0000709,6255 W SUNSET BLVD STE #105,LOS ANGELES,FA0051830,CA,90028,OW0035796,"THE WAFFLE, LLC",RESTAURANT (61-150) SEATS HIGH RISK,1638,THE WAFFLE,ACTIVE,PR0010922

In [3]:
result = los_angeles_restaurant_health_inspections.groupby(['grade'])['score'].mean().to_frame('avg_score').reset_index()
result

  grade  avg_score
0     A  94.443182
1     B  83.380952
2     C  73.642857