Find the average score for grades A, B, and C. Output the results along with the corresponding grade (ex: 'A', avg(score)).

https://platform.stratascratch.com/coding/9693-find-the-average-score-for-grades-a-b-and-c?code_type=1

In [1]:
import pandas as pd

In [2]:
los_angeles_restaurant_health_inspections = pd.read_csv('data/la_health_inspections.csv')
los_angeles_restaurant_health_inspections = los_angeles_restaurant_health_inspections[['grade', 'score']]
los_angeles_restaurant_health_inspections.head()

  grade  score
0     A     93
1     A     97
2     A     93
3     A     97
4     A     90

In [3]:
result = los_angeles_restaurant_health_inspections.groupby(['grade']).mean('score').reset_index()
result = result.rename(columns = {'score': 'avg_score'})
result

  grade  avg_score
0     A  94.443182
1     B  83.380952
2     C  73.642857